<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProducsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57369/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProducsService"
                contract="Service_Products.IProducsService" name="BasicHttpBinding_IProducsService" />
        </client>
    </system.serviceModel>
	 <connectionStrings>
    <add name="ProductsEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AlsanH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>